/*-----------------------------------------------------------------------------
 * Table Of Contents
 *-----------------------------------------------------------------------------

  1 Site Wide CSS
  2 Header General
    2.1 Title Bar
    2.2 Logo
    2.3 Menu
  3 Slider
  4 Search
  5 Tabs
    5.1 Accordian
    5.2 Tab Buttons
  6 Footer
    6.1 Disclaimer
    6.2 Copyright
  7 Contact Form
  8 Search Results
  9 Categories Page
    9.5 Courses
    9.6 Login
  10 Media Page
  11 Media Query (650px min)
    11.1 Banner
    11.2 Footer
    11.3 Contact Form
    11.4 Search Page
    11.5 Tabs
  12 Media Query (815px min)
    12.1 Menu
    12.2 SubMenu
    12.3 Search
    12.4 Tabs
  13 Media Query (1020px min)
    13.1 Tabs
  14 Media Query (1180px min)
    14.1 SiteWide

*------------------------------------------------------------------------------/

/* 1 - Site Wide CSS */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #08BFCB;
}

h2 {
  font-size: 3rem;
}

hr {
  border: none;
  height: 1px;
  background-color: #08BFCB;
  width: 75%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-font {
  font-family: 'Roboto', sans-serif;
}

.body-font {
  font-family: 'Roboto Slab', serif;
}

.site-width {
  max-width: 117rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.narrow-site-width {
  max-width: 80rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.separator {
  width: 70%;
  margin: 2rem auto;
  border: none;
  border-top: .1rem solid #555555;
}

.block {
  width: 100%;
  display: block;
}

.plain-link,
.plain-link:link,
.plain-link:hover,
.plain-link:active,
.plain-link:visited,
.plain-link a,
.plain-link a:link,
.plain-link a:hover,
.plain-link a:active,
.plain-link a:visited {
  text-decoration: none;
  color: black;
}

.plain-link-light,
.plain-link-light:link,
.plain-link-light:hover,
.plain-link-light:active,
.plain-link-light:visited,
.plain-link-light a,
.plain-link-light a:link,
.plain-link-light a:hover,
.plain-link-light a:active,
.plain-link-light a:visited {
  text-decoration: none;
  color: white;
}

.plain-link:hover,
.plain-link:hover a,
h2:hover {
  color: #55D9E0;
}

.plain-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.single-p {
  max-width: 80rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-black {
  color: black;
}

.text-center {
  text-align: center;
}

.button,
.button:hover,
.button:visited,
.button:active,
.button:link {
  display: inline-block;
  text-align: center;
  background-color: #08BFCB;
  padding: 1rem 3rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Roboto;
  color: white;
  font-size: 2rem;
  border-radius: 0.2rem;
}

.button:hover {
  background-color: #55D9E0;
}

.button:active {
  background-color: #1CA8AF;
}

.button-white,
.button-white:hover,
.button-white:visited,
.button-white:active,
.button-white:link {
  background-color: white;
  color: black;
}

.button-white:hover {
  background-color: #dedede;
}

.button-white:active {
  background-color: #ccc;
}

.button-transparent,
.button-transparent:hover,
.button-transparent:visited,
.button-transparent:active,
.button-transparent:link {
  background-color: initial;
  color: #08BFCB;
  border: #08BFCB 1px solid;
}

.button-transparent:hover,
.button-transparent:active {
  background-color: #08BFCB;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-copy {
  margin: 4rem 0 5rem;
}

.attribution {
  color: black;
  font-style: italic;
}

@media screen and (min-width: 750px) {
  .body-copy {
    width: 70rem;
    margin: 4rem auto 5rem;
  }
}

/* Grid */

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.column {
  flex: 1 1 auto;
  margin-bottom: 2rem;
}

.column:last-of-type {
  margin-bottom: 0;
}

.col-50,
.col-33,
.col-25 {
  width: 100%;
}

/* 2 Header General */

/* 2.1 Title Bar */

header {
  background-color: #08BFCB;
}

header p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  background-color:black;
  color: white;
  margin:0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

p.status-message {
  box-sizing: border-box;
  transition: all 0.5s ease;
  transition-delay: 0.2s;
  overflow: hidden;
  margin-top: 0;
}

.failure {
  background-color: #F7403D;
}

.success {
  background-color: #36DB62;
}

.status-message .fa {
  /*float: right;*/
  position: absolute;
  left: 0;
  margin-left: 0.5rem;
  transition: all 1.0s ease;
  font-size: 2rem;
  cursor: pointer;
}

p.hidden {
  margin-top: -3.2rem;
}

p.hidden .fa {
  margin-left: -10rem;
}

/* 2 Header General */



/* 2.2 Logo */

header > a {
  width: 25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 2.3 Menu */

.menu {
  display: none;
}

.menu li {
  text-transform: uppercase;
}

/* 3 Search*/

.search {
  border-bottom: #08BFCB 3px solid;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.search form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.search form div {
  display: flex;
  justify-content: center;
}

.search form > div > .fa {
  background-color: white;
  color: #08BFCB;
  padding: 1rem;
  padding-left: 0;
}

.search form input.search-box {
  width: 60%;
  font-size: 2rem;
  padding: 0 1rem;
  border: 1px solid #08BFCB;
  -webkit-appearance: none;
  border-radius: 0;
}

.search form div.advanced-search {
  justify-content: flex-start;
  width: 85%;
  margin: 0 auto;
  padding-top: .5rem;
}

.search form div.advanced-search span {
  text-transform: uppercase;
}

.search form div.advanced-search span {
  font-family: 'Roboto', sans-serif;
}

.search form div.advanced-search input {
  margin: 0.1rem 0.5rem 0 3.8rem;
}

.search form button {
  width: 15%;
  height: 4.8rem;
  margin-left: 0.1rem;
  background-color: #08BFCB;
  border: none;
  color: white;
}

.search form button:hover {
  background-color: #55D9E0;
}

.search form button:active {
  background-color: #1CA8AF;
}

/* 4 Home Page */

.intro {
  text-align: center;
}

.intro h1 {
  color: #08BFCB;
  margin-bottom: 0;
}

.intro p {
  font-size: 2.2rem;
  margin-top: 0;
}

.intro hr {
  margin-bottom: 0;
}

.about {
  font-size: 1.6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about h2 {
  margin-top: 0;
}

.about .flex-center {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.store-banner {
  background-image: url('../../img/banner/store-banner.jpg');
  padding: 2rem 0;
}

.store-banner .site-width {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-banner .site-width h2 {
  margin-right: 4rem;
}

.featured-articles {
  padding-top: 2rem;
}

.featured-articles > .row > .column {
  border: #08BFCB 3px solid;
}

.article-snippet {
  padding: 2rem;
}

.article-snippet h3 {
  margin-top: 0;
}

.see-more {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.clear {
  clear: both;
}

/* Footer */

footer {
  border-top: #08BFCB 3px solid;
}

footer .summary h2 {
  font-size: 2rem;
  color: black;
}

footer .copyright {
  background-color: #08BFCB;
  padding: 3rem 0;
}

footer .copyright .site-width {
  text-align: center;
  font-family: Roboto;
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-flow: column nowrap;
}

footer .copyright .site-width span:not(:last-of-type) {
  margin-bottom: 2rem;
}

footer .copyright .site-width a,
footer .copyright .site-width a:hover,
footer .copyright .site-width a:active,
footer .copyright .site-width a:visited,
footer .copyright .site-width a:link {
  color: white;
  text-decoration: underline;
}

/* 8 Search Results Page */

.search-results-banner {
  display: none;
}

.search-results > span {
  display: block;
  color: #555;
  margin-top: 5rem;
}

.search-results h2 {
  margin: 0;
}

.search-results p {
  margin-top: 0;
  color: #ccc;
}

.search-results .separator {
  width: 100%;
  border-color: #ccc;
}

.search-results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-results dl {
  display: flex;
  flex-flow: column nowrap;
}

.search-results dt {
  float: left;
  color: #555;
  margin: 0 0.7rem 0 0;
  font-weight: 700;
}

.search-results dt:not(:first-of-type) {
  border-top: none;
  padding: 0;
  margin: 0;
}

.search-results dt::before {
  content: none;
  width: 0;
  height: 0;
}

.search-results dd {
  margin: 0;
  color: #999;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pagination ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination ul li,
.pagination a {
  padding: 0.5rem;
  background-color: #181818;
}

.pagination ul li:not(:last-of-type) {
  margin-right: 1rem;
}

.pagination ul li a.plain-link,
.pagination a.plain-link {
  color: white;
}

.previous-page {
  margin-right: 1rem;
}

.next-page {
  margin-left: 1rem;
}

/* 9 Categories Page */

.main-category {
  padding-bottom: 5rem;
}

.main-category a {
  font-family: Roboto,sans-serif;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.main-category a:hover {
  color: #08BFCB;
}

.main-category li {
  margin: 1rem 0;
}

.instruction {
  margin: 2rem auto;
  width: 60rem;
  font-size: 2rem;
  text-align: center;
}

/* 9.5 Courses */
.browse_subjects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse_subjects h1 {
  font-size: 2rem;
}

.browse_subjects ul {
  column-count: 3;
  column-rule: .1rem inset rgba(0, 0, 0, 0.4);
  column-gap: 8rem;
  list-style: none;
}

.browse_subjects ul li a {
  text-decoration: none;
  color: rgba(0,0,0,.6);
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 400;
}

.browse_subjects ul li a:hover {
  color: #820C08;
}

.discover .grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
}

.discover .grid li {
  margin: 1rem 0;
  position: relative;
}

.discover .grid li.wide {
  width: calc(66.66% - 2%);
}

.discover .grid li.square {
  width: calc(33.33% - 1%);
}

.discover .grid li img {
  width: 100%;
  filter: grayscale(100%);
}

.discover .grid li div {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover .grid li div p {
  color: white;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
  background-color: rgba(0,0,0, .6);
  padding: .5rem 2rem;
}

.discover .grid li:hover img {
  filter: grayscale(0);
}

/* 9.5.2 Course Index */
.course_about h1 {
  color: #393939;
  text-align: center;
  margin-top: 3rem;
}

.course_about h2 {
  font-size: 1.8rem;
  text-align: center;
}

.course_about p {
  text-align: justify;
  padding: 1rem 1rem;
}

.course_about img {
  display: none;
}

.course_download {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.course_download h2 {
  width: 100%;
}

.course_download a {
  text-decoration: none;
}

.course_download a div {
  width: 25rem;
  height: 10rem;
  background-color: #7F0F01;
  margin: 2rem 6rem;
  color: white;
  font-family: 'Roboto';
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: 1.5rem;
}

.course_download a div em {
  font-size: 3rem;
  font-style: normal;
  width: 100%;
}
.course_content {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.course_content .ui-accordion-header {
  background-color: transparent;
  border-bottom: .1rem solid #D1D1D1;
  padding: 0;
  padding-left: 3rem;
  outline: 0;
}

.course_content .ui-accordion-header-icon {
  background-image: url('../../img/courses/icons/plus.svg');
  background-position: center;
  background-size: 100%;
}

.course_content .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon {
  background-image: url('../../img/courses/icons/minus.svg');
}

.course_content .course_days li {
  border-bottom: .1rem solid #D1D1D1;
  padding-top: 2rem;
  text-transform: uppercase;
  font-family: 'Roboto';
  color: #4F4F4F;
}

.course_content .course_days li:first-of-type {
  padding: 0;
}

.course_content .course_days li em {
  font-style: normal;
  font-weight: 600;
  padding-right: 5rem;
}

.course_content .course_days li a {
  text-decoration: none;
}

.course_content .course_days li a:hover {
  color: #7F0F01;
}

/* Course Day */
.lesson_header {
  text-align: center;
}

.lesson_header h1 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: #4c4c4c;
  font-size: 1.8rem;
}

.lesson_header h1 span {
  width: 100%;
}

.lesson_content p {
  word-wrap: break-word;
}

section.lesson_content {
  clear: both;
}

.backtoindex,
.nextday {
  font-family: 'Roboto';
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.lesson_header .backtoindex {
  color: #7F0F01;
  text-decoration: none;
  float: right;
  text-align: right;
}

.lesson_content .backtoindex {
  color: #7F0F01;
  text-decoration: none;
}

.lesson_content .nextday {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: .2rem 2rem;
  margin-right: 2rem;
  display: inline-flex;
  align-items: center;
}

.lesson_content .nextday i {
  margin-left: 1rem;
}

.comments {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

/* 9.6 Login */
.login form,
.register form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.login form label,
.register form label {
  width: 92%;
}

.login form input,
.register form input {
  width: 90%;
  font-size: 2rem;
  padding: 1rem .5rem;
  outline: 0;
  margin-bottom: 3rem;
}

.login form input.btn,
.register form input.btn {
  width: 92%;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 1rem 0;
  background-color: #820C08;
  border: 0;
  color: white;
  font-size: 2.1rem;
  margin-bottom: 0;
}

.login-error {
  text-align: center;
  font-family: Roboto;
  font-size: 2rem;
  background-color: #820C08;
  margin: 0;
  margin-bottom: 4rem;
  padding: 1rem 0;
  color: white;
  text-transform: uppercase;
}

.login form .options {
  width: 52%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.login form .options a {
  color: #820C08;
  text-decoration: none;
}

/* Register */
.register form .helptext {
  display: none;
}

/* Articles */
.article-list h2 {
  font-size: 1.5rem;
}

.article-list h1 {
  margin-top: 0;
}

.article {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 70rem;
}

blockquote {
  color: #08BFCB;
  border-left: #08BFCB 3px solid;
  padding-left: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

dt {
  margin-bottom: 1rem;
}

dt:not(:first-of-type) {
  border-top: #08BFCB 3px solid;
  padding-top: 1rem;
}

dt::before {
  content: "";
  color: #08BFCB;
  display: inline-block;
  float: left;
  margin-right: 1rem;
  padding-top: 0.3rem;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 1.3rem;
}

dd {
  margin: 0 0 1rem;
  font-style: italic;
}

@media screen and (min-width: 900px) {
  blockquote {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/* Media Page */

#media {
  width: 100%;
  margin: 0 auto;
}

#media > div {
  margin: 4rem 0;
}

#media > div:nth-of-type(1) {
  border-top: 1px solid #08BFCB;
  margin-top: 0;
}

#media h2 {
  color: #444;
  font-size: 2.2rem;
  text-align: center;
}

@media screen and (min-width: 900px) {
  #media {
    width: 87.7rem;
  }
}

/* 10 Media Query (650px min) */
@media screen and (min-width: 650px) {

  .row {
    flex-flow: row;
    align-items: stretch;
  }

  .column {
    flex: 1 1 auto;
    margin: 0 1.5rem;
  }

  .column:first-of-type {
    margin-left: 0;
  }

  .column:last-of-type {
    margin-right: 0;
  }

  .col-50 {
    width: 50%;
  }

  .col-25 {
    width: 25%;
  }

  .col-33 {
    width: calc(100% / 3);
  }

  /* 10.1 - Banner */

  .slider {
    display: block;
  }

  /* 10.2 Footer */

  footer .copyright {
    flex-flow: row nowrap;
    justify-content: center;
  }

  footer .copyright .site-width {
    display: block;
  }

  footer .copyright .site-width span:not(:last-of-type) {
    margin-bottom: 0;
  }

  footer .copyright span::after {
    content:"|";
    margin: 0 2rem;
  }

  footer .copyright span:last-of-type::after {
    content:"";
    margin: 0;
    margin: 0;
  }

  /* 10.3 - Contact Form */

  .contact-wrapper {
    margin-bottom: 0;
  }
  .contact-wrapper form div.line-input {
    box-sizing: border-box;
    width: 33%;
    padding-right: 2rem;
    float: left;
  }

  .contact-wrapper form {
    width: 70%;
  }

  .contact-wrapper form div.line-input input {
    width: 100%;
    display: block;
  }

  .contact-wrapper form div.text-input {
    width: 66%;
    float: right;
  }

  .contact-wrapper form div.text-input textarea {
    height: 16.6rem;
  }

  .contact-wrapper form div.contact-button-input {
    box-sizing: border-box;
    width: 33%;
    padding-right: 2rem;
    clear: left;
  }

  .contact-wrapper form div.contact-button-input button {
    margin-top: 0;
  }

  /* Search Box */
  .search form div.advanced-search {
    width: 81%;
  }

  /* 10.4 Search Page */

  .search-results dl {
    display: flex;
    flex-flow: row wrap;
  }

  .search-results dt {
    float: none;
  }

  .search-results span {
    display: flex;
    flex-flow: row wrap;
  }

  .search-results span:not(:first-of-type) {
    margin-left: 1rem;
  }

  .search-results dl.keywords {
    font-size: 1.8rem;
  }

  .course_about img {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
  }

  /* Login */
  .login form label,
  .register form label {
    width: 72%;
  }

  .login form input,
  .register form input {
    width: 70%;
  }

  .login form input.btn,
  .register form input.btn  {
    width: 72%;
  }

}

/* 11 Media Query (815px min) */
@media screen and (min-width: 815px) {

  /* 11.1 Menu */

  .slicknav_menu {
    display:none;
  }

  .menu {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu ul li {
    padding: 0.5rem;
  }

  .menu > ul > li {
    padding-left: 0;
    padding-right: 0;
  }

  .menu > ul > li::after {
    content: "|";
  }

  .menu > ul > li:last-of-type::after {
    content: "";
  }

  .menu > ul > li a {
    padding: 0.5rem 1rem;
  }

  .menu > ul > li > a:hover {
    color: #08BFCB;
    background-color: white;
  }

  /* 11.2 SubMenu */
  .menu ul li ul {
    display: none;
    position: absolute;
    z-index: 2;
    margin-top: 0.5rem;
  }

  .menu ul li:hover ul {
    display: flex;
    flex-flow: column nowrap;
    background-color: #181818;
  }

  .menu ul li ul li {
    border-top: .1rem solid #363636;
  }

  .menu.plain-link ul li ul li a {
    display: block;
    padding: .5rem;
    color: white;
  }

  .menu ul li ul li:hover {
    background-color: white;
  }

  .menu.plain-link ul li ul li:hover a {
    color: #181818;
  }

  /* 11.3 Search*/

  .search form input.search-box {
    width: 60rem;
    -webkit-appearance: none;
    margin: 0;
  }

  .search form input.search-box:focus {
    outline: 0;
  }

  .search form div.advanced-search {
    width: 73rem;
  }

  .search form button {
    width: 8rem;
    outline: 0;
  }

  /* 11.4 Tabs */
  .ui-tabs .ui-tabs-nav .ui-state-default {
    width: 50%;
    border-radius: 0;
    box-shadow: none;
  }

  .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    box-shadow: -0.9rem 0rem 0.6rem -0.5rem rgba(0, 0, 0, 0.25) ,0.9rem 0rem 0.6rem -0.5rem rgba(0, 0, 0, 0.25);
    z-index: 3;
    background-color: #F3F3F3;
  }

  .ui-tabs .ui-tabs-nav li.ui-state-default:first-of-type.ui-tabs-active {
    box-shadow: 0.9rem 0rem 0.6rem -0.5rem rgba(0, 0, 0, 0.25);
  }

  .ui-tabs .ui-tabs-nav li.ui-state-default:last-of-type.ui-tabs-active {
    box-shadow: -0.9rem 0rem 0.6rem -0.5rem rgba(0, 0, 0, 0.25);
  }

  .tabs .ui-widget-header {
    display: block;
  }

  .tab-img-container {
    width: 40%;
    float: left;
  }

  .tab-img{
    max-width: 30rem;
  }

  .course_about p {
    text-align: justify;
    padding: 1rem 5rem;
  }

  /* Login */
  .login form label,
  .register form label {
    width: 52%;
  }

  .login form input,
  .register form input {
    width: 50%;
  }

  .login form input.btn,
  .register form input.btn  {
    width: 52%;
  }

}

/* 12 Media Query (1020px min) */
@media screen and (min-width: 1020px) {
  /* 12.1 - Tabs */

  .ui-tabs .ui-tabs-nav .ui-state-default {
    width: 25%;
  }

  .contact-wrapper form {
    width: 50%;
  }
}

/* 13 Media Query (1180px min) */
@media screen and (min-width: 1180px) {
  /* 13.1 Site Wide*/
  .site-width {
    padding-left: 0;
    padding-right: 0;
  }
}
