{% load staticfiles %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}RSVP America{% endblock %}</title>
    {% block conditional-css %}{% endblock %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'fpp_archive/dist/css/style.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'fpp_archive/img/logo/favicon.ico' %}" />
    <link rel="apple-touch-icon-precomposed" href="{% static 'fpp_archive/img/logo/ios_bookmark.png' %}"/>
  </head>
  <body>
    <header itemscope itemtype="https://schema.org/WebSite">
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
          <p class="status-message success"><i class="fa fa-times-circle"></i>{{ message }}</p>
          {% elif message.tags == 'error' %}
          <p class="status-message failure"><i class="fa fa-times-circle"></i>{{ message }}</p>
          {% endif %}
        {% endfor %}
      {% endif %}
      <nav class="menu site-width plain-link-light title-font">
        <ul id="menu">
          <li><a href="/"><i class="fa fa-home"></i></a></li>
          <li><a href="/mission">Our Mission</a></li>
          <li><a href="/history">About RSVP America</a></li>
          <li><a href="/categories">Online Archive</a></li>
          <!--<li><a href="#">Key Documents</a></li>-->
          <li><a href="/articles">Articles</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="http://shop.rsvpamerica.org/">Store</a></li>
        </ul>
      </nav>
    </header>

    {% block pre-search %}{% endblock %}

    {% block search %}
    <section class="intro site-width">
      <h1>RSVP America Campaign</h1>
      <p class="narrow-site-width">RSVP America began in 1994 as a grassroots movement to restore legal protection - state by state - for marriage, women, and children.</p>
      <hr>
    </section>
    <div class="search" itemscope itemtype="https://schema.org/WebSite">
      <form class="site-width" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction" action="{% url 'archive:results' %}" method="get">
        <div>
          <i class="fa fa-search fa-2x"></i><input itemprop="query-input" type='search' class="search-box" name='q' placeholder="Search for keyword" />
          <button type="submit"><i class="fa fa-search fa-2x"></i></button>
        </div>
        <div class="advanced-search">
          <input type="checkbox" name="fulltext" title="Enable slower full text search. This will show more results." />
          <span title="Enable slower full text search. This will show more results.">Full Text Search</span>
        </div>
      </form>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}
    <footer>
      <section class="summary site-width">
        <h2 class="text-center">RSVP America</h4>
        <p>For over 15 years RSVP America has campaigned to reverse
          this deconstruction and to rebuild our societal foundation of
          virtue and purity. This website marks the next chapter for
          RSVP America, particularly for the next generation. Featuring
          our work to restore social virtue and purity to America, this
          website contains vital resources and information that are
          critical in continuing our mission. We welcome your support
          and participation in restoring our marriage, families, towns,
          and nation for a better tomorrow.</p>
      </section>
      <section class="copyright">
        <div class="site-width" itemscope itemtype="https://schema.org/WebSite">
          <span itemprop="copyrightYear">Copyright &copy; {% now "Y" %}</span>
          <span itemprop="copyrightHolder">RSVP America</span>
          <span>All Rights Reserved</span>
          <span itemprop="creator">Website by <a class="plain-link" href="http://bigideainteractive.com/" alt="Big Idea Interactive Media - Web Development, Creative Services, Internet Marketing, and Brand Development in Louisville, KY" title="Big Idea Interactive Media - Web Development, Creative Services, Internet Marketing, and Brand Development in Louisville, KY" target="_blank" itemscope itemtype="https://schema.org/Organization" itemprop="name">Big Idea Interactive</a></span>
        </div>
      </section>
    </footer>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="{% static 'fpp_archive/js/jquery.slicknav.min.js' %}"></script>
    <script>
      // Picture element HTML5 shiv
      document.createElement( "picture"  );
    </script>
    <script src="{% static 'fpp_archive/js/picturefill.min.js' %}" async></script>
    {% block conditional-js %}{% endblock %}
    <script>
      $(function(){
        $('#menu').slicknav();
      });
    </script>
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
        <script>
          $("p.status-message .fa").click(function(){
            $("p.status-message").addClass("hidden");
          });
        </script>
        {% elif message.tags == 'error' %}
        <script>
          $("p.status-message .fa").click(function(){
            $("p.status-message").addClass("hidden");
          });
        </script>
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>
{% endspaceless %}
