{% extends "archive/base.html" %}
{% load staticfiles %}
{% load fpp_extras %}

{% block title %}History &ndash; RSVP America{% endblock %}

{% block content %}
<div class="site-width">
  <section class="body-copy">
    <h1>A Brief History</h1>
    <p>The RSVP America Campaign calls attention to the root cause of the
      rising levels of moral decline in America today. In the 1940s,
      zoologist Dr. Alfred Kinsey turned his research away from studying gall
      wasps to focus on human sexual behavior, culminating in the 1948
      publication of Sexual Behavior and the Human Male. With this volume and
      its successors, Kinsey became the go-to authority for the “science” of
      sex, and is largely credited with triggering the Sexual Revolution.
      Despite his widespread influence and authority, the basis for Kinsey’s
      research was “junk science.” Kinsey conducted his research using men in
      respected white coats who fraudulently gathered data by soliciting,
      interviewing, and observing participants in every imaginable sort of
      sexual couplings. A Former Director of the Kinsey Institute later
      admitted that those respectable researchers were no less than male
      homosexual child molesters. The scientific moorings of America’s now
      prevailing sexual pedagogy and law order, developed initially by a gall
      wasp specialist, can be shown to be built upon fraud and brutal,
      criminal child abuse.</p>
    <p>Although Kinsey’s research had been debunked, the results of his
      findings had long-lasting and overarching effects. Laws had been
      changed in nearly every state, eliminating protections for women and
      children across the nation. Such vast changes to the law were made
      possible by the American Law Institute’s Model Penal Code, using
      Kinsey’s data to implement widespread policy reform. The Model Penal
      Code was instrumental in the deconstruction of law, medicine,
      education, the Church, and the military, thereby affecting the overall
      moral fortitude of all other fields within our society.</p>
    <p>For over 15 years, RSVP America has campaigned to reverse this
      deconstruction and to rebuild our societal foundation of virtue and
      purity. This website marks the next chapter for RSVP America,
      particularly for the next generation. Featuring our work to restore
      social virtue and purity to America, this website contains vital
      resources and information that are critical in continuing our mission.
      We welcome your support and participation in restoring our marriages,
      families, towns, and nation for a better tomorrow.</p>
  </section>
  <hr>
  <section class="body-copy">
    <h1>A Report from Eunice V. Ray, Founder</h1>
    <p>The RSVP America Campaign officially began as a ladies’ march on the
      steps of the Capitol in Washington, D.C., in 1997, after 3 years of
      previous planning. The campaign was ignited by Robert Knight’s Family
      Research Council 1994 documentary, “The Children of Table 34.” Bob’s
      video story detailed Dr. Kinsey’s collaboration with “trained observers”
      who engaged in “sexual experimentation” on babies and children, which he
      called “scientific” research into human sexuality in his first volume.
      The Family Research video took its title from the actual “Table 34,” on
      page 181 of Kinsey’s Sexual Behavior in the Human Male, his first volume
      of sex research published in 1948.</p>
    <p>RSVP America formed a ladies’ campaign to warning parents of Kinsey’s
      destructive ongoing legacy for children today and enlisted the help of
      Concerned Women for America (CWA), where I spoke to their National
      Leadership Conference in Dallas, Texas during the spring of 1997.</p>
    <p>To guide parents, we published the RSVP America Parents’ Training Manual
      and distributed it nationally. We went to national and state leaders in
      Government, Education, Medicine, the Church and Law and briefed them on
      the pervasive Kinseyan “junk science” in their fields and a 1953-54
      Congressional Committee’s finding that:</p>
    <blockquote>
      <p>…the Foundation sponsored Kinsey Reports were deliberately designed
      as an attack on Judaic-Christian morality.</p>
      <span class="attribution">Rene Wormser, The Foundations: Their Power and
        Influence (1957)</span>
    </blockquote>
    <p>In December of 1995, with 48 co-sponsors in the US House of
      Representatives, RSVP America led women from across the country to
      Washington, D.C., and called for an investigation into The Kinsey Reports
      destructive impact on women and children.</p>
    <p>Astonishingly, the mere announcement of a Congressional inquiry into
      Kinsey received a world-wide media response because the fraudulent
      Kinseyan sexuality model is THE World’s view of human sexuality.</p>
    <p>Coincidentally to the work in Washington, RSVP America also briefed state
      legislators in all 50 states on how The Kinsey Reports were the
      scientific authority use to degrade once protective American criminal
      laws in favor of predators and generally permit a “Sexual Revolution” in
      all of America’s institutions beginning in the 1960s, which became known
      as a time of “sex, drugs and rock n’ roll.”</p>
    <p>The research undertaken by RSVP America needs to be made available online
      and in physical form. Today, the collection represents an extensive
      archive of historical books, materials, news accounts, published papers,
      including government records from 37 states. There are essays, White
      Papers, books, national media reports, video clips and other documents
      published over the years for a variety of audiences. A partial list is
      attached here at the end of this letter.</p>
    <p>Over the next two years, the work of the RSVP America Campaign (which was
      to mark the 50th anniversary of The Kinsey Reports and assess its impact
      upon our national life), needs to be summarized and archived by subject
      matter on just how Kinsey’s junk science was used to corrupt Law,
      Education, and Medicine in America and across the World.</p>
    <p>The publication of this summary along with the many other RSVP America
      publications and the important and wide ranging archive collected over
      nearly 20 years needs to be made available online. We would also like to
      print and distribute the summary of law changes and an annotated
      bibliography, if funds are available. The collection and archive, online
      giving, and worldwide access to publications need to be accomplished now,
      while those who conducted the research and the RSVP America Campaign,
      (like the invaluable and irreplaceable Dr. Linda Jeffrey), are still
      available and active.</p>
    <p>This project is necessary to memorialize hard won research findings,
      authorities, and information for those worldwide who are working today
      and will come after us. Not only was America deceived, but also the Third
      World as well who suffer under the corrupting Kinsey “culture of death”
      frauds posing as science. We have researched the questions and the
      answers for those across the World who are willing to stand in the
      breach, as we have done over the last nearly 20 years. The RSVP America
      Campaign summary and archive of well documented essays defines the
      problem and then we make concrete suggestions for solutions.</p>
    <p>Finally, despite The Kinsey Reports’ intention to focus on sexual
      mechanics and perversions, the most damaging impact was using The Kinsey
      Reports to change and abolish American common laws to permit and “point
      the way” to such abuses. The national mass media of the mid twentieth
      century favorably reviewed and promoted The Kinsey Reports and major Law
      Review publications called for widespread “science-based legal reform” in
      every state to abolish the “archaic” common law Christian principles at
      the foundation of each state’s criminal code.</p>
    <p>RSVP America intends to make it possible, for those whose heart is
      tender, to restore God’s law and make it honorable again (Isaiah 42) in
      America, to find the Truth about this matter; to find support; and
      encouragement in the fight via the body of historic information God has
      revealed to us. Then the World, because of America’s God given leadership
      position in the World, will receive Godly leadership exported from
      America instead of the large import of Kinsey’s corruption sent from
      American shores. We appreciate your prayerful support.</p>
    <span class="attribution">Eunice Van Winkle Ray,<br>RSVP America Founder
      &amp; National Coordinator</span>
  </section>
</div>
{% endblock %}
