{% extends "archive/base.html" %}
{% load staticfiles %}

{% block conditional-css %}
{% endblock %}

{% block conditional-js %}
{% endblock %}

{% block pre-search %}
<picture>
  <source media="(min-width: 501px)" srcset="{% static 'fpp_archive/img/logo/banner-logo.jpg' %}">
  <img class="block" src="{% static 'fpp_archive/img/logo/logo.png' %}" alt="RSVP Logo">
</picture>
{% endblock %}

{% block content %}
<section class="about site-width">
  <div class="row">
    <div class="column col-50">
      <img class="block" src="{% static 'fpp_archive/img/history-and-mission.jpg' %}">
    </div>
    <div class="column col-50">
      <h2>RSVP History and Mission</h2>
      <p>The first campiagn researched and uncovered the fraud and junk science
        which led to our current "anything goes" sexual morals. We published a
        number of important works and built a national grassroots movement to
        restore legal protections -state by state for marriage, women, and
        children. America's founding legal protections were based on the Old
        and New Testament but were replaced by the ancient pagan view of
        sexuality repackaged by science in the middle of the 20th century.
        America's pillars of virtue and purity dissolved and the resultant
        sexual revolution left</p>
      <div class="flex-center">
        <a class="button" href="/history">Read More</a>
      </div>
    </div>
  </div>
</section>

<section class="store-banner">
  <div class="site-width">
    <h2 class="text-black text-center">See Our Collection of Support Materials</h2>
    <a class="button button-white" href="http://shop.rsvpamerica.org/">Shop Now</a>
  </div>
</section>
{% if article_list %}
<section class="site-width featured-articles">
  <div class="row">
    {% for article in article_list %}
    <div class="column col-33">
      <img class="block" src="/media/{{article.thumbnail}}">
      <div class="article-snippet">
        <h3>{{ article.title }}</h3>
        <p>{{article.content|striptags|slice:":300"}}...</p>
        <a class="button" href="{% url 'article' article.id %}">Read More</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="see-more text-center">
    <a class="button button-transparent" href="articles">See More</a>
  </div>
</section>
{% endif %}

{% block posts %}
{% endblock %}

{% endblock %}
