{% extends "archive/base.html" %}
{% load staticfiles %}

{% block title %}Media &ndash; RSVP America{% endblock %}

{% block content %}
<div class="site-width">
  <section id="media">
    <h1 class="text-center">Media</h1>
    <div>
      <h2>Videos</h2>
      <p><sup>*</sup>These videos are not appropriate for children.</p>
      <h3>Kinsey’s Sexual Agenda and its Influence on His Work</h3>
      <p>Why Kinsey science is “junk-science” and the criminal activities he
        used to obtain his research.</p>
      <div class="video-wrapper">
        <iframe width="800" height="500"
          src="https://www.youtube.com/embed/oUBls4OTmec" frameborder="0"
          allowfullscreen></iframe>
      </div>
      <h3>Secret History: Kinsey’s Paedophiles &ndash; A British Documentary</h3>
      <p>This is a Yorkshire Television production for Channel 4, produced and
        directed by Tim Tate, aired August 10, 1998. The show features interviews
        with Kinsey team members Paul Gebhard and Clarence Tripp, Kinsey
        Institute director John Bancroft and several of Kinsey’s biographers.</p>
      <p>Here is an <a
          href="http://www.drjudithreisman.com/old/timtate.htm">original press
          release of the production.</a></p>
      <div class="video-wrapper">
        <iframe width="800" height="500"
          src="https://www.youtube.com/embed/UVC-1d5ib50" frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>
    <div>
      <h2>Presentations</h2>
      <h3>Eliminating Legal Protections for Women and Children in the States'
        Criminal Codes</h3>
      <div class="video-wrapper">
        <iframe src="https://player.vimeo.com/video/61636251"
          width="800" height="500" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <h3>Restoring Legal Protections for Women &amp; Children: Historical Analysis of States' Criminal Codes</h3>
      <div class="video-wrapper">
        <iframe src="https://player.vimeo.com/video/61643505"
          width="800" height="500" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </section>
</div>
{% endblock %}
