{% extends "archive/base.html" %}
{% load staticfiles %}

{% block pre-search %}
<picture>
  <source
    media="(min-width: 501px)"
    srcset="/media/{{article.banner}}">
  <img class="block" src="{% static 'fpp_archive/img/logo/logo.png' %}" alt="RSVP Logo">
</picture>
{% endblock %}

{% block content %}
<section class=" article site-width">
  <h1>{{article.title}}</h1>
  {% autoescape off %}
  {{article.content}}
  {% endautoescape %}
</section>
{% endblock %}
